<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_QuanLyVideoHocTap.Properties.Settings.QLVDHTConnectionString"
            connectionString="Data Source=DESKTOP-3A6C1JK\SQLEXPRESS;Initial Catalog=QLVDHT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>